Pods/
Podfile.lock
EventHunter.xcworkspace/xcuserdata

Modules/EventHunter/EventHunter.xcodeproj/project.xcworkspace/xcuserdata
Modules/EventHunter/EventHunter.xcodeproj/xcuserdata
Modules/mNetwork/mNetwork.xcodeproj/xcuserdata/